:root {
  --lightgray: #d9d9d9;
  --gray: #9c9c9c;
  --orange: #f48915;
  --darkGrey: #464d53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appColor: #3c3f45;
}

.App {
  text-align: center;
  mix-blend-mode: overlay !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  /* transition: all 0.2s ease; */
  border-radius: 5px;

  &:hover {
    color: white;
    background-color: #9c9c9c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }

  &:active {
    color: rgb(111, 111, 111);
    background-color: #b0b0b0;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transform: scale(1);
  }
}

.nav-link.active {
  color: rgb(74, 73, 73);
  background-color: #d4d4d4;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.form-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.custom-margin-1 {
  margin: 10px;
}

/* .form-control {
  border-radius: 20px!important;
  box-shadow: none!important;
  border-color: #ced4da!important;
}

.form-control:focus {
  border-color: #414142!important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)!important;
}

.btn-primary {
  border-radius: 20px!important;
  padding: 10px 20px!important;
  font-weight: bold!important;
  background-color: #bbc0c6!important;
  border-color: #515253!important;
}

.btn-primary:hover {
  background-color: #323233!important;
  border-color: #232323!important;
} */

/* 
.nav-item .active{
  color: red!important;
} */

.pic-box:hover {
  cursor: pointer;
}

/* .pic-box{
  background-color: #61dafb;
  border: 2px solid #282c34;
  height: 100px;
} */

/* .main-box{
  background-color: antiquewhite;
  border: 2px solid #282c34;
  height: 1000px;
} */

.arrow-wrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}

select.form-control {
  width: 110px;
  /* Adjust width as needed */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.custom-col-9 {
  width: 70% !important;
}

.custom-col-3 {
  width: 30% !important;
}

.icon-container {
  position: relative;
  width: 100%;
}

.icon-container img {
  width: 100%;
  height: auto;
}

.icon-container .btn {
  position: absolute;
  top: 10%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.membership-btn:active {
  scale: 1.05;
}

.userLabel {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
}

.headLabel {
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.smallLabel {
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #656565;
  margin-left: 8rem;
}
